<main>
  <app-header></app-header>

  <div class="content">
    <div class="content-main">
      <div class="row">
        <form class="c-form box-shadow">
          <ul class="show-data">
            <li class="title">
              <p>情報確認</p>
              <p>入力された情報をＯＫボタンクリックでＤＢへ保存してください</p>
            </li>
            <li class="form-group row d-flex">
              <label class="col-form-label col-sm-2">アカウント名</label>
              <div class="col-sm col-sm-10">ntmhuong</div>
            </li>
            <li class="form-group row d-flex">
              <label class="col-form-label col-sm-2">グループ</label>
              <div class="col-sm col-sm-10">Nhóm 1</div>
            </li>
            <li class="form-group row d-flex">
              <label class="col-form-label col-sm-2">氏名</label>
              <div class="col-sm col-sm-10">Nguyễn Thị Mai Hương</div>
            </li>
            <li class="form-group row d-flex">
              <label class="col-form-label col-sm-2">カタカナ氏名</label>
              <div class="col-sm col-sm-10">名カナ</div>
            </li>
            <li class="form-group row d-flex">
              <label class="col-form-label col-sm-2">生年月日</label>
              <div class="col-sm col-sm-10">1983/07/08</div>
            </li>
            <li class="form-group row d-flex">
              <label class="col-form-label col-sm-2">メールアドレス</label>
              <div class="col-sm col-sm-10">メールアドレス</div>
            </li>
            <li class="form-group row d-flex bor-none">
              <label class="col-form-label col-sm-2">電話番号</label>
              <div class="col-sm col-sm-10">0914326386</div>
            </li>
            <li class="title mt-12"><a href="#!">日本語能力</a></li>
            <li class="form-group row d-flex">
              <label class="col-form-label col-sm-2">資格</label>
              <div class="col-sm col-sm-10">Trình độ tiếng nhật cấp 1</div>
            </li>
            <li class="form-group row d-flex">
              <label class="col-form-label col-sm-2">資格交付日</label>
              <div class="col-sm col-sm-10">2010/07/08</div>
            </li>
            <li class="form-group row d-flex">
              <label class="col-form-label col-sm-2">失効日</label>
              <div class="col-sm col-sm-10">2010/07/08</div>
            </li>
            <li class="form-group row d-flex">
              <label class="col-form-label col-sm-2">点数</label>
              <div class="col-sm col-sm-10">290</div>
            </li>
            <li class="form-group row d-flex">
              <div class="btn-group col-sm col-sm-10 ml">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  onclick="location.href = './ADM006.html';return false;"
                >
                  OK
                </button>
                <button
                  type="button"
                  class="btn btn-secondary btn-sm"
                  onclick="location.href = './ADM004.html';return false;"
                >
                  戻る
                </button>
              </div>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</main>
